/* Định dạng của icon con mắt */
.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  padding: 10px;
}

/* Định dạng của icon con mắt khi được click vào */
.toggle-password.active i:before {
  content: "\f06e";
}

/* Định dạng của icon con mắt khi chưa được click vào */
.toggle-password i:before {
  content: "\f070";
}
